<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img
        class="brand-logo"
        src="/MeetRoom2.png"
        alt="logo"
        aria-hidden="true"
      />
    </a>
    <div class="auth-buttons">
      <ng-container *ngIf="!user; else loggedIn">
        <a class="signup-button" [routerLink]="['/signup']">Sign up</a>
        <a class="login-button" [routerLink]="['/login']">Log in</a>
      </ng-container>
      <ng-template #loggedIn>
        <div class="user-info">
          <img
            [src]="user?.image || '/profile-picture.png'"
            alt="User Image"
            class="user-avatar"
          />
          <span>{{ user?.first_name }} {{ user?.last_name }}</span>
          <button class="logout-button" (click)="logout()">Logout</button>
        </div>
      </ng-template>
    </div>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
