main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.brand-name {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #46236e;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-name form {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 350px;
}

.brand-logo {
  width: 100px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 2rem;
}

input[type="text"] {
  border: solid 1px #7700ff;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 100%;
}
button {
  padding: 10px;
  border: solid 1px #6a30ac;
  background: #7700ff;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
@media (min-width: 500px) and (max-width: 768px) {
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .brand-name {
    padding: 1rem;
    justify-content: center;
  }

  .brand-logo {
    margin-right: 0;
  }

  .content {
    padding: 1rem;
  }
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.login-button {
  margin-left: 1rem;
  padding: 8px 14px;
  background-color: #ffffff;
  color: #46236e;
  border: 1px solid #ffffff;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #e5d4ff;
  color: #320b5d;
}

.signup-button {
  margin-left: 1rem;
  padding: 8px 14px;
  background-color: #46236e;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-button:hover {
  background-color: #e5d4ff;
  color: #320b5d;
}

@media (max-width: 600px) {
  .brand-name {
    flex-direction: column;
    align-items: center;
  }

  .brand-name form,
  .login-button,
  .signup-button {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .login-button,
  .signup-button {
    padding: 10px;
  }
}
