<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img
        class="brand-logo"
        src="/MeetRoom2.png"
        alt="logo"
        aria-hidden="true"
      />
    </a>
    <form>
      <input type="text" placeholder="Filter" />
      <button class="primary" type="button">Search</button>
    </form>
    <div class="auth-buttons">
      <a class="signup-button" [routerLink]="['/signup']">Sign up</a>
      <a class="login-button" [routerLink]="['/login']">Log in</a>
    </div>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
