.container-home {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 1rem 4rem;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fafb;
  height: auto;
  margin-top: 10px;
}

.header-home {
  text-align: center;
  border-bottom: 1px solid #771e84;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.title-home {
  font-size: 3rem;
  font-weight: bold;
  color: #111827;
  margin: 0;
}

.data-day {
  width: 100%;
  text-align: center; 
  margin-top: 1rem;
}

.data-value {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 10px;
}

.section-floor-card {
  padding: 2rem 0;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1400px; 
  height: 100%;
  max-height: 600px; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

app-room-map {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
