<div class="login-container">
  <!-- กล่อง Login -->
  <div class="login-left" *ngIf="!showResetBox">
    <div class="login-box">
      <img src="/Meet.png" alt="Logo" class="logo" />
      <h2>Welcome</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <label for="codename">Codename</label>
          <input
            id="codename"
            type="text"
            formControlName="codename"
            placeholder="Enter your codename"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          />
        </div>
        <a class="forgot-link" (click)="openResetBox()">ลืมรหัสผ่าน?</a>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>

  <!-- กล่อง Password -->
  <div class="password-left" *ngIf="showResetBox">
    <div class="password-box">
      <button class="back-button" (click)="closeResetBox()">←</button>
      <img src="/Meet.png" alt="Logo" class="logo" />
      <h2>เปลี่ยนรหัสผ่าน</h2>
      <form [formGroup]="resetForm" (ngSubmit)="submitReset()">
        <div class="form-group">
          <label for="reset-codename">Codename</label>
          <input
            id="reset-codename"
            type="text"
            formControlName="codename"
            placeholder="Enter your codename"
          />
        </div>

        <div class="form-group">
          <label for="new-password">New Password</label>
          <input
            id="new-password"
            type="password"
            formControlName="newPassword"
            placeholder="Enter new password"
          />
        </div>

        <button type="submit" [disabled]="resetForm.invalid">Submit</button>
      </form>
    </div>
  </div>

  <!-- video -->
  <div class="login-right">
    <video autoplay muted loop>
      <source src="/MRB.mp4" type="video/mp4" />
      Meeting-Room-Booking-System
    </video>
  </div>
</div>
