.section-floor-card {
  margin-top: 10px;
  padding: 2rem;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1520px;
  height: auto; 
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.section-grid {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 200px minmax(920px, 2fr) 300px;
  gap: 1rem;
  box-sizing: border-box;
}

.floor-menu {
  background: #ffffff;
  width: 100%;
  max-width: 200px;
  max-height: 500px;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #46236e;
  box-sizing: border-box;
}

.floor-menu button {
  color: #ffffff;
  background-color: #350766;
  display: block;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.floor-menu button:hover {
  background-color: #f3ebff;
  color: #000000dd;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.floor-menu::-webkit-scrollbar {
  width: 6px;
}

.floor-menu::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 2px;
}

.room-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #46236e;
  box-sizing: border-box;
}

.room-detail {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #46236e;
  box-sizing: border-box;
}

/* ยังไม่ได้ใช้ */
.room-box {
  padding: 1rem;
  border: 1px solid #320b5d;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  background: #e5d4ff;
}

@media (max-width: 1024px) {
  .section-grid {
    grid-template-columns: 1fr;
  }

  .floor-menu {
    max-width: 100%;
  }

  .room-grid,
  .room-detail {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .room-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
